.detail {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    width: 100%;
    background-color: #fcfcfe;
    border: 2px solid #ad9d37;
    border-radius: 16px;
    margin-top: 24px;
    padding: 16px;
}
.detail article img {
    width: 350px;
}
.detail .details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: self-start;
}